@page
@model Web_Project_CeA.Pages.Produtos.DetailModel
@{
}

<main>
    <div class="breadcrumb">
        <a asp-page="/Produtos/Index"><span>Home</span></a>
        <span>>></span>
        <span asp-page="/Produtos/Detail" asp-route-id="@Model.Produto.Id">Detalhe produto</span>
    </div>
    <section class="container-produto">
        <div class="produto-info">
            <div class="img-produto">
                <img src="@Html.DisplayFor(model=> Model.Produto.imagem)" alt="Imagem do produto @Html.DisplayFor(model => Model.Produto.nome)">
                <div class="btn-details">
                    <a asp-page="/Produtos/Edit" asp-route-id="@Model.Produto.Id" class="btn secondary">editar produto</a>
                    <a asp-page="/Produtos/Delete" asp-route-id="@Model.Produto.Id" class="btn danger">excluir produto</a>
                </div>
            </div>
            <div class="produto">
                <div class="produto-details">
                    <h3>@Html.DisplayFor(model => Model.Produto.nome)</h3>
                    <p>@Html.DisplayFor(model => Model.Produto.descricao)</p>
                </div>

                <div class="departamento-categoria">
                    <div class="detalhe-departamento-info">
                        <h4>Divisão</h4>
                        <p asp-for="">@Html.DisplayFor(model => Model.Produto.divisao)</p>
                    </div>
                    <div class="detalhe-categoria-info">
                        <h4>Categoria</h4>
                        <p>@Html.DisplayFor(model => Model.Produto.categoria)</p>
                    </div>
                </div>


                <div class="estoque">
                    <h3>estoque</h3>
                    <div class="detalhe-container-estoque">
                        <div class="detalhe-container-tamanhos">
                            <h4>Tamanhos</h4>
                            <p>@Html.DisplayFor(model => Model.Produto.tamanho)</p>
                        </div>
                        <div class="detalhe-container-quantidade">
                            <h4>Quantidades</h4>
                            <p>@Html.DisplayFor(model => Model.Produto.estoque)</p>
                        </div>
                    </div>
                    <div class="fornecedor">
                        <label asp-for="Produto.fornecedor">Fornecedor</label>
                        <input asp-for="Produto.fornecedor" class="input-estoque" type="text">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="movimentacoes">
            <h3>histórico de movimentações</h3>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Data/hora</th>
                        <th>Usuário</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>@Html.DisplayFor(model => Model.Produto.reg_alt)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(model => Model.Produto.usuario_alt)</span>
                        </td>
                        <td>
                            <span>1200</span>
                        </td>
                        <td>
                            <span>--</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>