@page
@model Web_Project_CeA.Pages.Produtos.DetailModel
@{
}

<main>
    <div class="breadcrumb">
        <a asp-page="/Produtos/Index"><span>Home</span></a>
        <span>>></span>
        <span asp-page="/Produtos/Detail" asp-route-id="@Model.Produto.Id">Detalhe produto</span>
    </div>
    <section class="container-produto">
        <div class="produto-info">
            <div class="img-produto">
                <img src="@Html.DisplayFor(model=> Model.Produto.Imagem)" alt="Imagem do produto @Html.DisplayFor(model => Model.Produto.Nome)">
                <div class="btn-details">
                    <a asp-page="/Produtos/Index" class="btn secondary">voltar</a>
                    <a asp-page="/Produtos/Edit" asp-route-id="@Model.Produto.Id" class="btn secondary">editar</a>
                    <a asp-page="/Produtos/Delete" asp-route-id="@Model.Produto.Id" class="btn danger">excluir</a>
                </div>
            </div>
            <div class="produto">
                <div class="produto-details">
                    <h3>@Html.DisplayFor(model => Model.Produto.Nome)</h3>
                    <p>@Html.DisplayFor(model => Model.Produto.Descricao)</p>
                </div>

                <div class="departamento-categoria">
                    <div class="detalhe-departamento-info">
                        <h4>Divisão</h4>
                        <p asp-for="">@Html.DisplayFor(model => Model.Produto.divisao)</p>
                    </div>
                    <div class="detalhe-categoria-info">
                        <h4>@Html.DisplayFor(model => Model.Produto.Categoria)</h4>
                        <p>Top</p>
                    </div>
                </div>


                <div class="estoque">
                    <h3>estoque</h3>
                    <div class="detalhe-container-estoque">
                        <div class="detalhe-container-tamanhos">
                            <h4>Tamanho</h4>
                            <p>@Html.DisplayFor(model => Model.Produto.Tamanho)</p>
                        </div>
                        <div class="detalhe-container-quantidade">
                            <h4>Quantidade</h4>
                            <p>@Html.DisplayFor(model => Model.Produto.Estoque)</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="movimentacoes">
            <h3>Última Alteração</h3>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Data/hora</th>
                        <th>Usuário</th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>@Html.DisplayFor(model => Model.Produto.Reg_alt)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(model => Model.Produto.Usuario_alt)</span>
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
       
    </section>
</main>