@page
@model Web_Project_CeA.Pages.Produtos.EditModel
@{
}

<main>
    <div class="breadcrumb">
        <a asp-page="/Produtos/Index"><span>Home</span></a>
        <span>>></span>
        <a asp-page="/Produtos/Detail" asp-route-id="@Model.Produto.Id"><span>Detalhe do produto</span></a>
        <span>>></span>
        <span>Editar produto</span>
    </div>
    <form class="form-auth" method="post">
        <input type="hidden" asp-for="Produto.Id" />
        <section class="container-produto">
            <div class="produto-info">
                <div class="img-produto">
                    <img src="@Html.DisplayFor(model=> Model.Produto.Imagem)" alt="Imagem do produto @Html.DisplayFor(model => Model.Produto.Nome)">
                    <div class="input-nova-img">
                        <label asp-for="Produto.Imagem">Alterar foto do produto</label>
                        <input type="text" asp-for="Produto.Imagem" name="imagem" id="imagem" placeholder="URL da imagem">
                        <span class="error-message"></span>
                    </div>
                    <div class="btn-details editar">
                        <input type="button" value="voltar" class="btn secondary" onClick="history.go(-1)">
                        <input type="submit" value="salvar alterações" class="btn secondary" />
                    </div>
                </div>
                <div class="produto">
                    <div class="produto-details">
                        <input asp-for="Produto.Nome" name="nome">
                        <span class="error-message"></span>
                        <textarea asp-for="Produto.Descricao" name="descricao" id="produto-descricao" rows="5"></textarea>
                        <span class="error-message"></span>
                    </div>
                    <div class="departamento-categoria">
                        <div class="departamento-info">
                            <label asp-for="Produto.Divisao">Departamento</label>
                            <select asp-for="Produto.Divisao" id="departamento">
                                <option value="@Html.DisplayFor(model=> Model.Produto.Divisao)" selected></option>
                                <option>Feminino</option>
                                <option>Masculino</option>
                                <option>Infantil</option>
                                <option>Plus-Size</option>
                            </select>
                        </div>
                        <div class="categoria-info">
                            <label asp-for="Produto.Categoria">Categoria</label>
                            <select asp-for="Produto.Categoria" id="categoria">
                                <option>Top</option>
                                <option>Bottom</option>
                                <option>Inteiro</option>
                            </select>
                        </div>
                    </div>
                    <div class="estoque">
                        <h3>Estoque</h3>
                        <div class="container-estoque">
                            <div class="container-tamanhos">
                                <label asp-for="Produto.Tamanho">Tamanho</label>
                                <select asp-for="Produto.Tamanho" id="tamanho">
                                    <option>P</option>
                                    <option>PP</option>
                                    <option>M</option>
                                    <option>G</option>
                                    <option>GG</option>
                                    <option>XG</option>
                                </select>
                            </div>
                            <div class="container-tamanhos">
                                <label asp-for="Produto.Fornecedor">Fornecedor</label>
                                <input class="input-estoque" asp-for="Produto.Fornecedor" name="fornecedor">
                                <span class=error-message></span>
                            </div>
                        </div>
                        <div class="container-quantidade">
                            <input type="hidden" asp-for="Produto.Estoque">
                        </div>
                        <div class="container-useralt">
                            <label asp-for="Produto.Usuario_alt">Usuário de Alteração</label>
                            <select class="input-estoque" asp-for="Produto.Usuario_alt" >
                                <option value="@Html.DisplayFor(model=> Model.Produto.Usuario_alt)" selected></option>
                                <option value="Beatriz Medina">Beatriz Medina</option>
                                <option value="Bruno Lopes">Bruno Lopes</option>
                                <option value="David Oliveira">David Oliveira</option>
                                <option value="Gustavo Watanabe">Gustavo Watanabe</option>
                                <option value="Neilyane Silva">Neilyane Silva</option>
                                <option value="Thiago Vieira">Thiago Vieira</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</main>