@page
@model Web_Project_CeA.Pages.Produtos.IndexModel
@{
}


<a class="btn btn-outline-primary align-content-center" asp-page="/Produtos/Create"><b>Novo Produto</b></a> <!-- insere botão que chama uma página -->
<hr>
<h2><b>Lista de Produtos (GET) </b></h2>
<hr>
@foreach (var data in Model.Produtos)
{


    <p>Código Produto: @Html.DisplayFor(modelItem => data.Id)</p>
    <p>Nome: @Html.DisplayFor(modelItem => data.nome)</p>
    <p>Tamanho: @Html.DisplayFor(modelItem => data.tamanho)</p>
    <p>Categoria: @Html.DisplayFor(modelItem => data.categoria)</p>
    <p>Divisão: @Html.DisplayFor(modelItem => data.divisao)</p>
    <p>Desccrição: @Html.DisplayFor(modelItem => data.descricao)</p>
    <p>Estoque: @Html.DisplayFor(modelItem => data.estoque)</p>
    <p>Fornecedor: @Html.DisplayFor(modelItem => data.fornecedor)</p>
    <p>Foto do Produto: <img src="@Html.DisplayFor(modelItem => data.imagem)"></p>
    <p>Usuário de Alteração: @Html.DisplayFor(modelItem => data.usuario_alt)</p>
    <p>Registro de Alteração: @Html.DisplayFor(modelItem => data.reg_alt)</p>
    <hr />

}