@page
@model Web_Project_CeA.Pages.Produtos.IndexModel
@{
}


<main class="container">
    <div class="container-info">
        <div class="container-title">
            <div class="breadcrumb">
                <a asp-page="/Produtos"><span>Home</span></a>   
            </div>
            <h1>Estoque geral</h1>
        </div>
        <a class="btn CTA" asp-page="/Produtos/Create">Adicionar produto</a>
    </div>
    <div class="table-title">
        <div>
            <div class="col20">Imagem</div>
            <div class="col80">Produto</div>
        </div>
        <div>
            <div class="col25">Divisão</div>
            <div class="col25">Categoria</div>
            <div class="col25">Quantidade</div>
        </div>
    </div>


    @foreach (var data in Model.Produtos)
    {
        @* <p>Código Produto: @Html.DisplayFor(modelItem => data.Id)</p> *@
        @* <p>Tamanho: @Html.DisplayFor(modelItem => data.tamanho)</p> *@
        @* <p>Descrição: @Html.DisplayFor(modelItem => data.descricao)</p> *@
        @* <p>Fornecedor: @Html.DisplayFor(modelItem => data.fornecedor)</p> *@
        @* <p>Usuário de Alteração: @Html.DisplayFor(modelItem => data.usuario_alt)</p> *@
        @* <p>Registro de Alteração: @Html.DisplayFor(modelItem => data.reg_alt)</p> *@

        <div class="container-card">
        <div>
            <div class="col20">
                <img src="@Html.DisplayFor(modelItem => data.imagem)" class="card-image" alt="foto do produto"/>
            </div>
            <div class="col80">
                <p>@Html.DisplayFor(modelItem => data.nome)</p>
            </div>
        </div>
        <div>
            <div class="col25">@Html.DisplayFor(modelItem => data.divisao)</div>
            <div class="col25">@Html.DisplayFor(modelItem => data.categoria)</div>
            <div class="col25">@Html.DisplayFor(modelItem => data.estoque)</div>
            <div class="col25 details">
                <a class="btn details" asp-page="/Produtos/Detail" asp-route-id="@data.ID">Detalhes</a>
            </div>
        </div>        
        </div>
    }
        
</main>